.flex {
  display: flex;
  align-items: center;
}
.v-line-flex{
  display: flex;
  align-items: center;
  span {
    flex-shrink: 0;
    width: 55px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(3, 32, 61, 0.65);
    line-height: 22px;
  }
}
.pl12{
  padding-left: 12px;
}
.pl24{
  padding-left: 24px;
}
.mt24 {
  margin-top: 24px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb48 {
  margin-bottom: 58px;
}
.mb8{
  margin-bottom: 8px;
}
.h-line {
  width: 100%;
  height: 1px;
  background-color: #e5e8eb;
  margin-bottom: 24px;
}
.option-label{
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: rgba(3,32,61,0.65);
  line-height: 22px;
  text-align: left;
  font-style: normal;
}
.title-tip{
  font-weight: 400;
  font-size: 14px;
  color: #03203D;
  line-height: 22px;
  text-align: left;
}
.red{
  color: red;
}
.group-title{
  font-size: 16px;
  font-weight: 800;
  font-size: 14px;
  color: rgba(3,32,61,0.65);
  line-height: 22px;
  text-align: left;
  font-style: normal;
}