.visual-editor-area-content {   // 父节点
  .editor-bloack {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    user-select: none;
    &:hover{
      &::after{
        content: '';
        position: absolute;
        left: -3px;
        top: -3px;
        bottom: -3px;
        right: -3px;
        background-color: rgba(0,0,0, .2);
        border: 1px dashed #821;
      }
    }
    .editor-bloack-operate{
      position: absolute;
      left: calc(100% + 15px);
      // bottom: calc(100% + 5px);
      top: 0;
      bottom: 0;
      margin: auto 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .editor-bloack-delete {
        font-size: 12px;
        white-space: nowrap;
      }
    }
    
    &::after{
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      bottom: -3px;
      right: -3px;
      
    }
  }
  // 组件获取焦点时候的信息
  .editor-bloack-focus{
    &::after{
      border: 1px dashed #821;
      // cursor: move;
      cursor: pointer;
      background-color: rgba(0,0,0, .2);
    }
  }
}