.visual-editor-area-content {   // 父节点
  .editor-bloack {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    user-select: none;
    &:hover{
      &::after{
        content: '';
        position: absolute;
        left: -3px;
        top: -3px;
        bottom: -3px;
        right: -3px;
        background-color: rgba(37,124,250,0.15);
        border: 1px dashed #257CFA;
      }
    }
    .editor-bloack-operate{
      position: absolute;
      left: calc(100% + 15px);
      // bottom: calc(100% + 5px);
      height: 80px;
      background: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #D8DDE1;
      top: 0;
      bottom: 0;
      margin: auto 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 2px;
      .editor-bloack-wrapper {
        img{
          width: 20px;
          height: 20px;
        }
        .normal{
          display: block;
        }
        .active{
          display: none;
        }
        &:hover{
          .normal{
            display: none;
          }
          .active{
            display: block;
          }
        }
      }
      .downBlock{
        img{
          transform: rotateZ(180deg);
        }
      }
    }
    &::after{
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      bottom: -3px;
      right: -3px;
    }
  }
  // 组件获取焦点时候的信息
  .editor-bloack-focus{
    &::after{
      border: 1px dashed #257CFA;
      // cursor: move;
      cursor: pointer;
      background-color: rgba(37,124,250,0.15);
    }
  }
}