.visual-editor-area-content {   // 父节点
  .editor-bloack {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    user-select: none;
    .editor-bloack-delete {
      position: absolute;
      left: calc(100% + 5px);
      bottom: calc(100% + 5px);
      font-size: 12px;
      white-space: nowrap;
    }
    &::after{
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      bottom: -3px;
      right: -3px;
      
    }
  }
  // 组件获取焦点时候的信息
  .editor-bloack-focus{
    &::after{
      border: 1px dashed #821;
      cursor: move;
    }
  }
}