.priview-visual-editor{
  height: 100%;
  .priview-visual-editor-area-body{
    height: 100%;
    .visual-editor-area-container{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding-top: 20px;
        background-color: #fff;
        padding-bottom: 100px;
    }
  }
}