.visual-editor-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f5;
  .visual-editor-header{
    height: 40px;
    width: 100%;
    background-color: #fff;
  }
  .visual-editor {
    $leftComWidth: 250px;
    $topMenuHeight: 60px;
    $rightMenuWidth: 275px;
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    background-color: #fff;
    height: calc(100% - 40px);
    &>.visual-editor-topMenu {
      flex-shrink: 0;
      height: 100%;
      width: 50px;
      background-color: aquamarine;
      .buttons {
        display: flex;
        align-items: center;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        .button {
          button {
            cursor: pointer;
          }
        }
      }
    }
    &>.visual-editor-leftComponentsMenu {
      flex-shrink: 0;
      width: $leftComWidth;
      height: 100%;
      background-color: #fff;
      display: flex;
      .visual-tab-type{
        width: 40px;
        height: 100%;
        background-color: #fff;
        border-right: 1px solid #eee;
      }
      .visual-com-group{
        flex: 1;
        height: 100%;
        overflow-y: auto;
        .group-container{
          .title{
            font-size: 16px;
            font-weight: 800;
            line-height: 50px;
          }
          .group-container-content{
            display: flex;
            flex-wrap: wrap;
            .editer-menu-content-block {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              // width: 100%;
              width: 40%;
              min-height: 80px;
              border: 2px solid #eee;
              margin-bottom: 10px;
              position: relative;
              &:nth-child(n){
                margin-right: 5%;
                margin-left: 5%;
              }
              .editor-priview-label {
                font-size: 14px;
                margin-top: 10px;
              }
              &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
              }
              .icon-box{
                width: 20px;
                height: 20px;
                img{
                  width: 20px;
                }
                .activeIcon{
                  display: none;
                }
              }
              &:hover {
                border: 2px solid #257cfa;
                // cursor: move;
                cursor: pointer;
                .icon-box{
                  .activeIcon{
                    display: block;
                  }
                  .icon{
                    display: none;
                  }
                }
                .editor-priview-label {
                  color: #257cfa;
                }
              }
              
            }
          }
        }
        
      }
    }
    &>.visual-editor-right-seting {
      width: $rightMenuWidth;
      height: 100%;
      // background-color: #567;
      flex-shrink: 0;
      .control-container{
        .control-form-comtainer{
          padding: 0 10px;
        }
      }
    }
    &>.visual-editor-area-body {
      height: 100%;
      position: relative;
      flex: 1;
      .visual-editor-area-container {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding-top: 20px;
        background-color: #f1f2f5;
        .visual-editor-area-content {
          background-color: #fff;
          position: relative;
        }
        .visual-editor-mark-y {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 1px;
          border-bottom: 1px dashed red;
        }
        .visual-editor-mark-x {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 1px;
          border-left: 1px dashed red;
        }
      }
    }
  }
}
