.visual-editor-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f5;
  .visual-editor-header{
    height: 40px;
    width: 100%;
    background-color: #fff;
  }
  .visual-editor {
    $leftComWidth: 350px;
    $topMenuHeight: 60px;
    $rightMenuWidth: 275px;
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    // position: fixed;
    // left: 20px;
    // right: 20px;
    // top: 20px;
    // bottom: 20px;
    background-color: #fff;
    // &:before {
    //   content: '';
    //   position: fixed;
    //   left: 0;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   background-color: rgba(0, 0, 0, .1);
    // }
    &>.visual-editor-topMenu {
      // position: absolute;
      // top: 0;
      // left: $leftComWidth;
      // height: $topMenuHeight;
      // right: $rightMenuWidth;
      height: 100%;
      width: 50px;
      background-color: aquamarine;
      .buttons {
        display: flex;
        align-items: center;
        height: 100%;
        // padding: 0 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
  
        .button {
          // margin-right: 10px;
  
          button {
            cursor: pointer;
          }
        }
      }
    }
    &>.visual-editor-leftComponentsMenu {
      width: $leftComWidth;
      height: 100%;
      // position: absolute;
      background-color: #fff;
      // top: 0;
      // left: 0;
      // padding: 10px;
  
      .editer-menu-content-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80px;
        border: 2px solid #eee;
        margin-bottom: 10px;
        position: relative;
  
        .editor-priview-label {
          position: absolute;
          left: 0;
          top: 0;
          height: 20px;
          font-size: 12px;
          background-color: #567;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 50px;
          box-sizing: border-box;
          padding: 0 10px;
        }
  
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
  
        &:hover {
          border: 2px solid #821;
          cursor: move;
        }
      }
  
    }
    &>.visual-editor-right-seting {
      width: $rightMenuWidth;
      height: 100%;
      // position: absolute;
      background-color: #567;
      flex-shrink: 0;
      // top: 0;
      // right: 0;
    }
    &>.visual-editor-area-body {
      // margin: $topMenuHeight $rightMenuWidth 0 $leftComWidth;
      height: 100%;
      position: relative;
      // z-index: 1;
      flex: 1;
  
      .visual-editor-area-container {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding-top: 20px;
        background-color: #f1f2f5;
        .visual-editor-area-content {
          background-color: #fff;
          position: relative;
        }
  
        .visual-editor-mark-y {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 1px;
          border-bottom: 1px dashed red;
        }
  
        .visual-editor-mark-x {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 1px;
          border-left: 1px dashed red;
        }
      }
    }
  }
}
